/********** Base styles **********/
* {
    box-sizing: border-box;
    
  }
  body {
      font-family: "Comic Sans Ms",italic, sans-serif;
      margin: 0;
      padding: 10px;
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  p {
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
  }

  .title {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: black;
    display: block;
    font-size: 25px;
    width: 150px;
    text-align: center;
  }

  #one {
    background-color: pink;
  }
  #two {
      background-color: darkred;
  }
  #three {
      background-color: darksalmon;
  }
  .menu  {
    background-color: lightgrey;
   	border: 2px solid black;
   	margin-top: 30px; 
   	margin-right: 30px; 
   	text-align: justify;
   	position: relative;
    height: auto;
  }
 
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
    margin: 20px;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    h1 {
        margin-bottom: 30px;
      }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
    }

    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      /* border: 1px solid green; */
    }
    .col-sm-12 {
      width: 100%;
    }
  }